.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  height: 7rem;
}

.title {
  height: 15rem;
  padding-bottom: 4rem;
}


.body-input{
  resize: both;
}
.logoContainer{
  margin-left: 40%;
  margin-right: 40%;

}
.sidebarLogo{
  height: 7rem;
  display: block;
}

.about {
  margin: 1rem 9rem;
  padding: 1rem;
  text-align: left;
  background: #ebebeb;
  border-radius: 15px;
}

.pageLink{
  color: #0180e7;
}


/* color of logo is #0180e7 */
